<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gens.dao.user.UserDao">

	<!--회원 전체 조회-->
	<select id="selectAll" resultType="User">
		SELECT *
		FROM user;
	</select>
	
	<!--로그인-->
	<select id="selectOne" parameterType="Map" resultType="User">
		SELECT *
		FROM users
		WHERE userID=#{userID} AND userPW=#{userPW}
	</select>
	
	<!--회원가입-->
	<insert id="insertUser" parameterType="User">
		INSERT INTO users (userID, userPW, username, userRRN, userPhonenumber, userNickname,userProfilePath)
		VALUES(#{userID}, #{userPW}, #{username}, #{userRRN}, #{userPhonenumber}, #{userNickname}, #{userProfilePath})
	</insert>	
	
	<!--중복 조회-->
	<select id="findById" resultType="User">
	    SELECT * 
	    FROM user 
	    WHERE userID = #{userId}
	</select>

	
</mapper>